<div class="note-section">
  <!-- new notes input -->
  <div class="new-note-cont" [ngClass]="{ disabled: !currentUserId }">
    <label for="note-input">
      <span
        class="material-icons custom-note"
        matTooltip="add a note"
        matTooltipShowDelay="500"
        >note_add</span
      >
    </label>
    <div
      tabindex="1"
      (keydown.enter)="$event.target.blur()"
      [attr.contenteditable]="!!currentUserId"
      id="note-input"
      placeholder="add a note"
      (blur)="
        saveNewNote($event.target.innerHTML); $event.target.innerHTML = null
      "
    ></div>
    <i>press enter or click away to save</i>
  </div>

  <!-- only show for guest users -->
  <div *ngIf="!currentUserId">
    <p [style.cursor]="'pointer'" (click)="signupEmitter.emit()">
      Sign up to add notes
    </p>
  </div>
  <div *ngIf="!notes.length && !currentUserId">
    <p>No one has commented yet!</p>
  </div>

  <!-- main notes -->
  <div class="note-list">
    <app-note
      *ngFor="let note of notes; index as i"
      [note]="note"
      [author]="note.userId === currentUserId ? 'You' : note.userName"
      [readOnly]="note.userId !== currentUserId"
      (deleteNoteEmitter)="deleteEmitter.emit($event)"
      (updateNoteEmitter)="updateNote($event)"
    ></app-note>
  </div>
</div>
