.note-section {
  width: 100%;
}

// new notes
#note-input {
  margin-right: 45px;
  color: grey;
  position: relative;
  background-color: #add8e64a;
  border-radius: 5px;
  padding: 7px 10px;
  font-family: Poppins;
  cursor: text;
  + i {
    opacity: 0;
  }
  &:before {
    content: "Add a new note...";
    font-style: italic;
  }
  &:focus {
    color: #333333;
  }
  &:focus:before {
    content: "";
  }
  &:focus + i {
    opacity: 1;
  }
}

.new-note-cont.disabled {
  cursor: not-allowed;
  #note-input {
    pointer-events: none;
  }
}

.new-note-cont {
  min-height: 37px;
  position: relative;
  margin-bottom: 22px;
  padding-left: 15px;
  span {
    cursor: pointer;
    color: #0000008a;
    margin-top: 6px;
  }
  i {
    color: grey;
    position: absolute;
    bottom: -25px;
    right: 50px;
  }
}

.new-note-cont label {
  position: absolute;
  left: -14px;
}

.note-list {
  padding: 3px;
  margin: 0 42px 15px 0;
}

@media (max-width: 800px) {
  .note-list,
  #note-input {
    margin-right: 0;
  }
}
