<div class="recipe-list-container">
  <!-- *ngIf="isShowFavourites ? favouritesArr.length : recipes?.length" -->
  <div class="search" *ngIf="recipes?.length" [ngClass]="{ expanded: searchOn, sticky: maxScroll }">
    <input
      *ngIf="searchOn"
      [ngModelOptions]="{ standalone: true }"
      type="text"
      placeholder="Search"
      [(ngModel)]="searchTerm"
      (blur)="searchBlur()"
    />
    <span class="material-icons" (click)="searchOn = true">search</span>
  </div>

  <div class="recipe-list" *ngIf="recipes.length && !loading">
    <ng-container *ngFor="let recipe of recipes | recipeFilter: searchTerm; index as index">
      <!-- <div class="rec-container"> -->
      <!-- <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="recipe-item" /> -->
      <!--  -->
      <!-- [showFavouriteIcon]="!isShowFavourites"
        [isFavourite]="!isShowFavourites ? (recipe.key | favourite: favouritesArr) : null" -->
      <app-recipe-item
        [recipe]="recipe"
        [index]="index"
        [showFavouriteIcon]="filter !== 'favourites'"
        [isFavourite]="filter !== 'favourites' ? (recipe.key | favourite: favouritesArr) : null"
        (favouriteEmitter)="favourite(recipe)"
      ></app-recipe-item>
      <!-- disabled -->
      <!-- [ngClass]="{
        selected: selectedRecipe === recipe,
        grow: selectedRecipe !== recipe,
        shrink: selectedRecipe === recipe
      }"
      (click)="toggleRecipe(recipe, elRef)" -->
      <!-- <div class="recipe-detail-cont grow" *ngIf="recipe === selectedRecipe" #recipeDetail>
        <span class="material-icons" (click)="toggleRecipe(recipe, recipeDetail)">expand_less</span>
        <app-recipe-detail [recipeInput]="recipe"></app-recipe-detail>
      </div> -->

      <!-- <span class="material-icons" [ngClass]="{ 'is-favourite': isFavourite }">favorite</span> -->
      <!-- <div [appLottie]="'heart-bubble'"></div> -->
      <!-- <span class="material-icons" [ngClass]="{ 'is-favourite': isFavourite }">favorite</span> -->

      <!-- <div class="heart-click-anchor" (click)="favourite(recipe)">
          <div
            class="favourite"
            *ngIf="!isShowFavourites"
            [routerLink]="recipe.key"
            class="fav-lottie"
            [appLottie]="'heart-like'"
            [autoplay]="false"
            [startFrame]="(recipe.key | favourite: favouritesArr) ? 110 : null"
            [play]="(recipe.key | favourite: favouritesArr) ? [60, 110] : [140, 150]"
          ></div>
        </div> -->
      <!-- </div> -->
    </ng-container>
  </div>

  <div class="scroll-top" [ngStyle]="{ opacity: maxScroll ? 1 : 0 }">
    <span *ngIf="maxScroll" (click)="scroll()" class="material-icons">keyboard_arrow_up</span>
  </div>

  <div class="empty" *ngIf="!recipes.length && !loading">
    <img src="assets/images/icons/bubbling-pot.png" />
    <h4>There's nothing here yet!</h4>
    <h4>Why not try something new, you might find a favourite?</h4>
    <button *ngIf="filter !== null && recipes.length" (click)="randomRecipe()">Get inspired</button>
  </div>

  <!--   
  <app-recipe-item
    class="recipe-item"
    *ngFor="let recipe of recipes | arrayIncludes: favouritesArr:'key' | recipeFilter: searchTerm; index as index"
    [recipe]="recipe"
    [index]="index"
  ></app-recipe-item> 
--></div>
<div class="signup-text" *ngIf="readOnly && !loading">
  <p>There's more to see!</p>
  <button (click)="signup()">create an account</button>
  <p>for full access</p>
</div>
