<div class="recipe-list-container">
  <div class="search" *ngIf="recipes?.length" [ngClass]="{ expanded: searchOn, sticky: maxScroll }">
    <input
      *ngIf="searchOn"
      [ngModelOptions]="{ standalone: true }"
      type="text"
      placeholder="Search"
      [(ngModel)]="searchTerm"
      (blur)="searchBlur()"
    />
    <span class="material-icons" (click)="searchOn = true">search</span>
  </div>

  <div class="recipe-list" *ngIf="recipes.length && !loading">
    <ng-container *ngFor="let recipe of recipes | recipeFilter: searchTerm; index as index">
      <app-recipe-item
        appShowOnScroll
        [recipe]="recipe"
        [index]="index"
        [showFavouriteIcon]="filter !== 'favourites'"
        [isFavourite]="filter !== 'favourites' ? (recipe.key | favourite: favouritesArr) : null"
        (favouriteEmitter)="favourite(recipe)"
      ></app-recipe-item>
    </ng-container>
  </div>

  <div class="scroll-top" [ngStyle]="{ opacity: maxScroll ? 1 : 0 }">
    <span *ngIf="maxScroll" (click)="scroll()" class="material-icons">keyboard_arrow_up</span>
  </div>

  <div class="empty" *ngIf="!recipes.length && !loading">
    <img src="assets/images/icons/bubbling-pot.png" />
    <ng-container *ngIf="!readOnly">
      <h4>There's nothing here yet!</h4>
      <h4>Why not try something new, you might find a favourite?</h4>
      <button *ngIf="filter !== null && allRecipes.length" (click)="randomRecipe()" class="spin-btn">
        Get inspired
      </button>
    </ng-container>
    <ng-container *ngIf="readOnly">
      <h4>There's more to see!</h4>
      <button (click)="signup()" class="signup-btn">create an account</button>
      <p>for full access</p>
    </ng-container>
  </div>
</div>
