.recipe-item {
  position: relative;
  color: #333333;
  cursor: pointer;
  perspective: 1000px;
  max-height: 100%;
  transition: ease-in-out all 2s;
  margin: 0 5px 12px 5px;
}

.favourite {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 1;
  .material-icons {
    color: white;
    opacity: 0.6;
    &.is-favourite {
      color: red;
      transform: scale(1.2);
      opacity: 0.9;
    }
  }
}

.title-cont {
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  align-items: flex-end;
}

.title {
  margin: 0;
  padding: 15px;
  opacity: 0;
  transition: all 1s;
  color: #3e3e3ede;
  font-size: 30px;
  font-family: 'BodoniBold';
  font-style: italic;
  letter-spacing: 2px;
}

img {
  transition: all 0.5s;
  width: 100% !important;
  height: auto !important;
}

.recipe-item:hover {
  img {
    opacity: 0.3;
  }
  .title {
    opacity: 1;
  }
}

.recipe-back {
  border: 1px solid black;
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  width: 100%;
  max-height: calc(100% - 10px);
  padding: 15px;
  transition: 2s all;
  max-height: 200px;
  .ingredient {
    margin: 10px 0;
    font-size: 20px;
  }
}

.rec-front {
  max-height: 1000px;
  transition: 2s all;
  // display: flex;
}

.rec-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

// testing
// .title {
//   opacity: 1;
// }

// .recipe-item:hover,
.recipe-item.flipped {
  .title {
    opacity: 0;
  }
  .rec-inner {
    transform: rotateY(-180deg);
  }
  .recipe-back {
    max-height: 1000px;
    position: relative;
  }
  .rec-front {
    max-height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
  }
}

.rec-front,
.recipe-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (max-width: 1000px) {
  .recipe-item img {
    opacity: 0.8;
  }

  .recipe-front {
    display: flex;
  }
  .recipe-item .title {
    font-size: 36px;
    opacity: 1;
    color: #333333;
  }
}
