<header
  class="app-nav"
  [ngClass]="{ collapse: collapse }"
  [style.height.px]="isMobile || !isAuth ? 80 : scrollHeight"
>
  <div class="app-header">
    <a routerLink="/" class="main-header">
      <img class="logo" src="assets/images/logos/hole-logo.png" />
      <h1>Recipe Hole</h1>
    </a>

    <div
      *ngIf="isAuth"
      class="account-actions"
      [ngClass]="{ expanded: headerExpanded, mobile: isMobile }"
    >
      <span class="material-icons" id="nav-open" (click)="toggleMenu()"
        >menu</span
      >
      <div
        [ngClass]="{
          popped: headerExpanded && isMobile,
          'sidepop-nav': isMobile,
          'dropdown-nav': !isMobile
        }"
      >
        <div class="details">
          <div *ngIf="isMobile" class="close">
            <span (click)="toggleMenu()" class="material-icons remove">
              clear
            </span>
          </div>
          <h3>Hi, {{ user?.name || "Guest" }}</h3>
        </div>
        <hr />
        <div class="tabs">
          <ng-container *ngFor="let item of navItems">
            <h4
              *ngIf="
                (isMobile && !item.hideMobile) || (!isMobile && !item.tabItem)
              "
            >
              <a [routerLink]="item.link" (click)="navAction(item.action)">{{
                item.text
              }}</a>
            </h4>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <!-- tabs -->
  <div class="tab-list" *ngIf="!isMobile && isAuth">
    <ng-container *ngFor="let item of navItems">
      <div
        *ngIf="item.tabItem"
        class="menu-tab {{ item.class }}"
        routerLinkActive="active"
        [routerLink]="item.link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <h4>{{ item.text }}</h4>
        <div class="grow"></div>
      </div>
    </ng-container>
  </div>
  <!-- <app-main-nav></app-main-nav> -->
</header>

<!-- mobile logout -->
<h4
  *ngIf="isMobile"
  class="logout"
  [ngClass]="{ popped: headerExpanded }"
  (click)="logout()"
>
  <a>Logout</a>
</h4>
