@import "../../styles/variables";
.app-nav {
  z-index: 1;
  width: 100vw;
  position: sticky;
  overflow: hidden;
  font-family: "BenchNine";
  flex-direction: column;
  align-items: center;
  background-color: white;
  display: flex;
  min-height: 80px !important;
}

.app-header {
  padding: 24px 0;
}

.tab-list {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  transition: 0.4s all;
  padding-top: 26px;
  //
  border-bottom: 1px solid black;
  padding-top: 0px;
  padding: 0 48px;
}

.collapse {
  border-bottom: 1px solid black;
  .tab-list {
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    left: 50px;
    z-index: 2;
    border: none;
    .menu-tab {
      border: none;
      padding: 0;
      margin-right: 10px;
      h4 {
        letter-spacing: 0.5px;
      }
      .grow {
        display: none;
      }
      &.active {
        display: none;
      }
    }
  }
}

a.main-header {
  display: flex;
  align-items: center;
  h1 {
    text-transform: uppercase;
    font-size: 30px;
    display: inline;
    margin: 0;
  }
  .logo {
    width: 30px;
    margin-right: 7px;
    display: inline;
  }
}

.menu-tab {
  cursor: pointer;
  padding: 0 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 11px 0 0;
  transition: all 0.1s;
  margin: 0 3px;
  border: 2px solid #ffffff;
  h4 {
    letter-spacing: 4px;
    margin: 0;
    color: #333333;
  }
  &:hover:not(.active) {
    background-color: $white-alt;
  }
  &.active {
    border: 2px solid $white-alt;
    border-bottom: 0px;
    //
    border: none;
  }
}

a {
  color: #333333;
}

.grow {
  height: 0px;
  width: 100%;
  border-bottom: 3px solid $white-alt;
  position: absolute;
  bottom: 0;
  opacity: 0;
  //
  display: none;
}

.active {
  transform: matrix(1.1, 0, 0, 1.1, 0, -4);
  //
  transform: matrix(1.1, 0, 0, 1.1, 0, -2);
  // background-color: lightblue;
  background-color: #efeeef78;
  // transform: matrix(1.25, 0, 0, 1.25, 0, -2);
  .grow {
    opacity: 1;
    -webkit-animation: increase 3s;
    -moz-animation: increase 3s;
    -o-animation: increase 3s;
    animation: increase 3s;
    animation-fill-mode: forwards;
  }

  @keyframes increase {
    100% {
      width: 150vw;
    }
  }
}

.search input {
  width: 200px;
}

.search input:focus {
  position: absolute;
  // transform: translate(-50%, -50%);
  width: 400px;
  left: 50%;
  margin-left: -200px;
}

.material-icons {
  font-size: 35px;
}

.account-actions {
  z-index: 100;
  position: fixed;
  width: 33px;
  height: 47px;
  top: 20px;
  right: 50px;
  border: 1px solid transparent;
  span {
    transition: 0.5s all;
    background-color: transparent;
    // position: fixed;
    // top: 30px;
    // right: 50px;
    color: #808080;
    z-index: 1;
  }
}

.account-actions:hover:not(.mobile),
.account-actions.expanded {
  span {
    // color: $white;
  }
  .dropdown-nav {
    display: block;
    min-width: 200px;
    // max-height: 1000px;
    // max-width: 1000px;
    // background-color: $white-alt;
    // box-shadow: 0px 3px 6px 8px #eaeaea;
    background-color: white;
    border: 1px solid#808080;
    hr {
      margin: 0;
    }
    h4,
    h3,
    p,
    mat-slide-toggle {
      // display: block;
      white-space: nowrap;
    }
  }
}

.account-actions .dropdown-nav {
  display: none;
  transition: 1s all;
  // max-height: 0;
  // max-width: 0;
  position: absolute;
  top: 40px;
  right: 0;
  padding-top: 36px;
  background-color: white;
  border-radius: 10px 0px 10px 10px;
  overflow: hidden;
  h4 {
    font-size: 14px;
    cursor: pointer;
  }
  h3 {
    margin: 7px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
  }
  h4,
  h3,
  p,
  mat-slide-toggle {
    // display: none;
    margin: 0;
    text-align: right;
    padding: 7px 5px 7px 32px;
  }
  h4:hover {
    background-color: #f1f1f1;
  }
}

.sidepop-nav {
  width: 220px;
  top: -19px;
  position: absolute;
  right: -240px;
  background-color: #ffffff;
  height: 100vh;
  border-left: 1px solid #000000;
  transition: 0.5s;
  z-index: 10;
  overflow-y: none;
  // background-color: #ffffff4a;
  // backdrop-filter: blur(18px);
  &.popped {
    transform: translateX(-100%);
    .close span {
      transform: rotate(-180deg);
    }
  }
  .details {
    background-color: #000000;
    padding-bottom: 18px;
    padding-left: 20px;
  }
  hr {
    margin: 0;
  }
  .tabs {
    padding: 0 20px;
  }
  h3 {
    margin: 0;
    color: #ffffff;
  }
  .close {
    text-align: right;
    padding: 18px 13px 0 0;

    span {
      color: #ffffff;
      transition: 0.5s;
    }
  }
}
.logout {
  position: fixed;
  bottom: 20px;
  right: -271px;
  z-index: 10;
  transition: 0.5s;
  cursor: pointer;
  &.popped {
    right: 20px;
  }
}

@media (max-width: 760px) {
  h1 {
    font-size: 26px;
    padding: 20px;
  }

  .app-nav {
    justify-content: center;
  }

  .account-actions {
    top: 18px;
    right: 18px;
    .active {
      background-color: #ffffff;
      transform: none;
    }
    h4 {
      font-size: 20px;
    }
  }
}
