.recipe-details {
  border: 1px solid #333333;
  border-top: 1px solid white;
  box-shadow: 0 1px 4px 0 rgba(154, 154, 154, 0.62);
  // padding: 20px;
}

h2 {
  font-family: 'Rosario';
  letter-spacing: 1.2px;
  // margin: 40px 0 20px 0;
  display: flex;
}

.material-icons.show-less {
  transform: rotate(-180deg);
}

.expand {
  font-size: 36px;
  margin-top: -3px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

.list-group {
  overflow: hidden;
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

#ingredient-list {
  overflow: hidden;
  // border: 1px solid green;
  display: flex;
  flex-direction: column;
}

#ingredient-list.hide {
  .list-group {
    flex: 0;
    transition: all 0.5s ease-out;
    // max-height: 0px;
    opacity: 1;
    // animation: hide 1s;
    // animation-fill-mode: forwards;
    // opacity: 0;
  }
}

#ingredient-list.show {
  .list-group {
    height: auto;
    flex: 1;
    transition: all 0.5s ease-in;
    // max-height: 1000px;
    // opacity: 1;
    opacity: 1;
    // animation: show 1s;
    // animation-fill-mode: forwards;
  }
}

.show {
  // opacity: 1;
  // animation: show 1s;
  // animation-fill-mode: forwards;
}

.hide {
  // opacity: 1;
  // animation: hide 1s;
  // animation-fill-mode: forwards;
}

@keyframes show {
  from {
    height: 0px;
    width: 0px;
    // width: 0px;
  }
  to {
    height: 100%;
    width: 100%;
    // width: 100%;
  }
}

@keyframes hide {
  from {
    height: auto;
    // width: 100%;
  }
  to {
    height: 0;
    // width: 0px;
  }
}

.rec-header {
  position: sticky;
  top: 79px;
  padding-bottom: 15px;
  background-color: white;
  z-index: 1;
  border-top: 1px solid black;
  hr {
    margin: 0px 20px;
  }
}

.rec-title {
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    // font-family: 'BodoniBold';
    font-family: 'BodoniItal';
    letter-spacing: 2.5px;
    font-size: 38px;
  }
}

.tags-list {
  // text-align: center;
  padding: 0 30px;
}

.tag {
  margin: 5px;
  border: 1px solid #add8e6;
  background-color: #add8e6;
  padding: 4px 12px;
  display: inline-block;
  border-radius: 20px;
  font-size: 14px;
}

mat-expansion-panel.main-section-mep {
  box-shadow: none;
  // position: sticky;
  // top: 177px;
}

.column-left {
  width: 40%;
  min-width: 40%;
}

.column-left mat-expansion-panel.main-section-mep {
  // position: sticky;
  // top: 177px;
}

ul#ingredient-list {
  padding-left: 10px;
  list-style-type: disc;
}
li {
  border: none;
  padding: 0;
  margin: 5px;
  // display: flex;
  display: list-item;
}

section {
  position: relative;
  padding: 0 20px;
  display: flex;
}

.desc {
  text-align: left;
}

.column {
  // width: 50%;
  padding: 15px;
  display: inline-block;
}

.column-right {
  overflow: hidden;
  align-self: flex-start;
  text-align: right;
  width: 60%;
  .recipe-img {
    width: 100% !important;
    // height: auto !important;
    // margin-top: 28px;
    // max-height: 600px;
    // max-height: 60vh;
  }
}

// like and bookmark actions
.recipe-actions {
  position: absolute;
  height: 50px;
  width: 102px;
  // border: 1px solid pink;
  right: 43px;
  top: 25px;
}

.fav-lottie {
  width: 300px;
  overflow: hidden;
  position: absolute;
  right: -77px;
  top: -92px;
  &.on {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  .click-anchor {
    width: 42px;
    height: 38px;
    top: 50%;
    right: 50%;
    // border: 1px solid green;
    transform: translate(50%, -55%);
  }
}

.lottie-anim .click-anchor {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.todo-lottie {
  width: 75px;
  overflow: hidden;
  position: absolute;
  right: -15px;
  top: -19px;
  &.on {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  .click-anchor {
    width: 30px;
    height: 39px;
    top: 50%;
    right: 50%;
    // border: 1px solid blue;
    transform: translate(14.5px, -21px);
  }
}

.added-cont {
  text-align: right;
  p {
    margin: 3px;
    // font-family: 'BodoniBold';
    font-family: 'Rosario';
    letter-spacing: 1.2px;
    font-size: 14px;
    // display: flex;
    // margin: auto;
    // justify-content: center;
  }
}

.aspect-ratio-box {
  height: 0;
  // overflow: hidden;
  padding-top: 66%;
  background: #e8e6e6;
  position: relative;
  outline: 1px solid #ccc;
  backdrop-filter: 5px;
  outline-offset: 15px;
  border-radius: 7px;
}

.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.flexbox-centering {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewport-sizing {
  // font-size: 5vw;
  text-align: center;
  p {
    margin: auto;
    margin: auto;
    /* overflow: visible; */
    /* text-align: center; */
    opacity: 0.9;
    /* line-height: 1.4; */
    margin-top: 7px;
  }
}

.anchor {
  height: 100px;
}

.additional-details {
  display: flex;
  padding: 0 50px 30px;
}

.nutrition {
  margin: 0 auto;
}

// notes expansion panel
.notes-dates {
  width: 50%;
}

.note-section {
  width: 100%;
}

// new notes
#note-input {
  margin-right: 45px;
  color: grey;
  position: relative;
  background-color: #add8e64a;
  border-radius: 5px;
  padding: 7px 10px;
  &:before {
    content: 'Add a new note...';
    font-style: italic;
  }
  &:focus {
    color: #333333;
  }
  &:focus:before {
    content: '';
  }
}

.show .note-info {
  // z-index: 1;
  display: flex;
  // transition: ease-in 0.5s;
  // transition-delay: 0.5s;
}

.new-note-cont {
  min-height: 37px;
  position: relative;
  margin-bottom: 22px;
  padding-left: 15px;
  span {
    cursor: pointer;
    color: #0000008a;
    margin-top: 6px;
  }
  i {
    color: grey;
    position: absolute;
    bottom: -25px;
    right: 50px;
  }
}

.new-note-cont label {
  position: absolute;
  left: -14px;
}

.note-list {
  padding: 3px;
  margin: 0 42px 15px 0;
}

.note-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.note-info {
  display: none;
  padding: 4px 7px;
}

.friend-note .note-info {
  left: unset;
  right: -50px;
}

.note-bubble {
  position: relative;
  font-style: italic;
  margin: 6px 0px 10px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  max-width: 100%;
  word-break: break-word;
  cursor: pointer;
}

.note-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom: 0;
  margin-left: -4.5px;
  margin-bottom: -9px;
}

.my-note {
  .note-bubble {
    background-color: #add8e6;
    min-width: 20px;
  }
  .active {
    cursor: text;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #add8e64a;
  }
  .note-bubble:after {
    border-top-color: #add8e6;
    border-left: 0;
    left: 25px;
  }
  .active:after {
    border-top-color: #add8e64a;
  }
}

.friend-note {
  text-align: right;
  .note-bubble {
    border-color: #cceab5;
    background-color: #cceab5;
    align-self: flex-end;
  }
  .note-bubble:after {
    right: 25px;
    border-top-color: #cceab5;
    border-top-color: #cceab5;
    border-right: 0;
  }
  .note-info {
    justify-content: flex-end;
  }
}

.note-actions span {
  margin: 0 4.5px;
  cursor: pointer;
}

.note-actions,
i {
  transition: 0.25s all ease-in-out;
}

.note-info {
  p {
    margin: 0;
    font-size: 10px;
    line-height: 1;
    font-style: italic;
  }
}

// dates expansion panel
.dates-container {
  h6 {
    font-size: 13px;
    margin: 0;
    font-style: italic;
  }
}

.date-actions {
  margin: 10px;
  button {
    font-size: 12px;
    border-radius: 5px;
    border: none;
    padding: 0px 12px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    span.material-icons {
      font-size: 15px;
    }
    &.date-select .material-icons {
      margin-left: 3px;
    }
  }
  input.hidden {
    opacity: 0;
    max-width: 0px;
    padding: 0;
  }
}

.dates-list {
  div {
    padding: 0 10px;
  }
  .date-item {
    position: relative;
    margin: 5px 0;
    width: 50%;
    display: inline-block;
    .remove {
      opacity: 0;
      cursor: pointer;
      font-size: 16px;
      margin-left: 7px;
      transform: translate(0px, 2px);
      transition: 0.5s opacity;
    }
  }
  .date-item:hover {
    .remove {
      opacity: 1;
    }
  }
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  // align-items: center;
}

.mat-expansion-panel-header-title {
  font-size: 18px;
  // font-family: 'BodoniBold';
  font-family: 'Rosario';
  letter-spacing: 1.2px;
}

mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  // margin-top: 10px;
}

.mat-expansion-panel-header.mat-expanded {
  border-radius: 5px 5px 0 0;
}

.note-bubble:hover .note-actions {
  opacity: 1;
}

.actions {
  justify-content: flex-end;
  button {
    width: 162px;
    margin: 13px;
  }
}

.tooltip-red {
  background: #b71c1c;
}

// smaller screens
@media (max-width: 800px) {
  .rec-title h1 {
    font-size: 30px;
  }
  .recipe-details {
    border: none;
    box-shadow: none;
  }
  .rec-header {
    position: unset;
  }
  .hide-sm {
    display: none;
  }
  section {
    padding: 0;
    flex-direction: column-reverse;
    .column {
      width: 100%;
    }
    .column-right {
      position: unset;
    }
  }

  .actions {
    display: none;
  }
  .notes-dates {
    width: 100%;
  }
}
