<div *ngIf="recipe" class="recipe-details" #recipeRef>
  <div class="rec-header">
    <div class="rec-title">
      <h1>{{ recipe.name | title }}</h1>
      <div *ngIf="recipe.addedBy" class="added-cont hide-sm">
        <p>Added by {{ recipe.addedBy }}</p>
        <p *ngIf="recipe.created">{{ recipe.created | date }}</p>
      </div>
    </div>
    <hr />
  </div>

  <div class="tags-list">
    <div *ngFor="let tag of recipe.tags" class="tag">{{ tag }}</div>
  </div>

  <section>
    <div class="column column-left">
      <mat-expansion-panel expanded="true" class="main-section-mep">
        <mat-expansion-panel-header>
          <mat-panel-title><h2 id="ingredients-title">Ingredients</h2></mat-panel-title>
        </mat-expansion-panel-header>
        <ul
          class="list-group"
          id="ingredient-list"
          [ngClass]="ingExpanded ? 'show' : 'hide'"
          *ngIf="recipe.ingredients?.length"
        >
          <li *ngFor="let ing of recipe.ingredients" class="list-group-item">
            {{ ing }}
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel expanded="true" class="main-section-mep">
        <mat-expansion-panel-header>
          <mat-panel-title><h2>Method</h2></mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHtml]="recipe.description" class="desc"></div>
      </mat-expansion-panel>
      <div class="notes">
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Notes</mat-panel-title>
              <mat-panel-description>
                <span class="material-icons">comment_bank</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="note-section">
              <div class="new-note-cont">
                <label for="note-input">
                  <span class="material-icons custom-note" matTooltip="add a note" matTooltipShowDelay="500">
                    note_add
                  </span>
                </label>
                <div
                  tabindex="1"
                  (keydown.enter)="saveNote($event.target)"
                  contenteditable
                  id="note-input"
                  placeholder="add a note"
                  (blur)="saveNote($event.target)"
                  (focus)="noteActive = true"
                ></div>
                <i [style.opacity]="noteActive ? 1 : 0">click away to save</i>
              </div>
              <div class="note-list">
                <div
                  class="note-container"
                  *ngFor="let note of notes; index as i"
                  [class.my-note]="note.userId === user.id"
                  [class.friend-note]="note.userId !== user.id"
                >
                  <div class="note-bubble" [class.active]="editNoteIndex === i">
                    <!-- tooltip setup, in case I want to restore it, otherwise delete this -->
                    <!--  [matTooltip]="
                      !note.userId
                        ? 'Added by Guest'
                        : (note.userId === user.id ? 'you commented' : 'added by ' + note.user) +
                          ' on ' +
                          (note.date | date)
                    "
                    matTooltipShowDelay="250"
                    matTooltipPosition="left"
                    matTooltipClass="notes-tooltip-short" -->
                    <div
                      class="note-edit-input"
                      tabindex="1"
                      (keydown.enter)="saveNote($event.target, note)"
                      [contentEditable]="editNoteIndex === i"
                      (blur)="saveNote($event.target, note)"
                      [innerHTML]="note.note || note"
                      (click)="note.userId === user.id ? editNote(i) : null"
                    ></div>

                    <div class="note-actions" *ngIf="note.userId === user.id">
                      <!-- <span class="material-icons edit fake-cta" *ngIf="editNoteIndex !== i">create</span> -->
                      <span
                        (click)="deleteNote(note.id)"
                        class="material-icons remove"
                        matTooltip="delete note"
                        matTooltipClass="tooltip-red"
                        matTooltipShowDelay="500"
                      >
                        clear
                      </span>
                    </div>
                  </div>
                  <div class="note-info test-hover">
                    <p>{{ note.userId === user.id ? 'You' : note.userName ? note.userName : 'Anonymous' }} commented</p>
                    <p>on {{ note.date | date }}</p>
                  </div>
                  <!-- <div class="note-info">
                  <p>{{ note.userId === user.id ? 'You' : note.userName ? note.userName : 'Anonymous' }} commented</p>
                  <p>on {{ note.date | date }}</p>
                </div> -->
                </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Dates</mat-panel-title>
              <mat-panel-description>
                <span class="material-icons">event</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="dates-container">
              <h6>{{ datesMade.length ? 'Add another date' : 'Have you made this recipe?' }}</h6>
              <div class="date-actions">
                <button class="btn btn-primary today" (click)="onDateChange()">
                  <span>Today</span>
                  <span class="material-icons">add</span>
                </button>
                <button class="btn btn-primary date-select" (click)="picker.open()">
                  <span>Select</span>
                  <span class="material-icons">launch</span>
                  <input
                    class="hidden"
                    id="dateMade"
                    [matDatepicker]="picker"
                    [(ngModel)]="dateInput"
                    (ngModelChange)="onDateChange($event)"
                  />
                  <mat-datepicker #picker></mat-datepicker>
                </button>
              </div>
              <div *ngIf="datesMade.length" class="dates-list">
                <h6>You made this recipe on...</h6>
                <div>
                  <p class="date-item" *ngFor="let d of datesMade">
                    <span>{{ d.date | date }}</span>
                    <!-- not implemented yet -->
                    <span
                      (click)="deleteDate(d)"
                      class="material-icons remove"
                      matTooltip="remove this date"
                      matTooltipShowDelay="500"
                    >
                      clear
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="column column-right">
      <div class="recipe-actions">
        <div
          class="fav-lottie lottie-anim"
          [class.on]="isFavourite"
          [appLottie]="'heart-like'"
          [autoplay]="false"
          [startFrame]="isFavourite ? 110 : null"
          [play]="isFavourite ? [60, 110] : [140, 150]"
        >
          <div class="click-anchor" (click)="favourite()"></div>
        </div>

        <div
          class="todo-lottie lottie-anim"
          [class.on]="toDoSelected"
          [appLottie]="'to-do-green'"
          [autoplay]="false"
          [startFrame]="toDoSelected ? 20 : 0"
          [play]="toDoSelected ? [0, 22] : [22, 0]"
          [direction]="toDoSelected ? 'forward' : 'backward'"
        >
          <div class="click-anchor" (click)="toDo()"></div>
        </div>
      </div>

      <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="recipe-img" />
    </div>
  </section>
</div>

<div class="actions" *ngIf="showEdit && !readOnly">
  <button *ngIf="showDelete" type="button" (click)="deleteRecipe()" class="btn btn-danger">Delete</button>
  <button type="button" (click)="editRecipe()" class="btn btn-primary">Edit</button>
</div>
