<div *ngIf="recipe" class="recipe-details" #recipeRef>
  <div class="rec-header">
    <div class="rec-title">
      <h1>{{ recipe.name | title }}</h1>

      <div *ngIf="recipe.addedBy" class="added-cont">
        <p>Added by {{ recipe.addedBy }}</p>
        <ng-container *ngIf="recipe.created">
          <p [style.font-style]="'italic'">
            <img src="assets/images/svg/fancy-tilda.svg" class="tilda" />
            on
            <img src="assets/images/svg/fancy-tilda.svg" class="tilda" />
          </p>
          <p>{{ recipe.created | date }}</p>
        </ng-container>
      </div>
    </div>
    <hr />
  </div>

  <div class="tags-list">
    <div *ngFor="let tag of recipe.tags" class="tag">{{ tag }}</div>
  </div>

  <div class="section">
    <div class="column column-left">
      <div id="ingredient-list">
        <h2 id="ingredients-title">Ingredients</h2>
        <ul class="list-group" *ngIf="recipe.ingredients?.length">
          <li *ngFor="let ing of recipe.ingredients" class="list-group-item">
            <div><img src="assets/images/svg/fancy-tilda.svg" class="tilda" /></div>
            {{ ing }}
          </li>
        </ul>
      </div>
      <div id="method">
        <h2>Method</h2>
        <div [innerHtml]="recipe.description" class="desc"></div>
      </div>

      <div class="notes">
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Notes</mat-panel-title>
              <mat-panel-description>
                <span class="material-icons">comment_bank</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="input-cont">
              <label for="note-input">
                <span class="material-icons custom-note" matTooltip="add a note" matTooltipShowDelay="500">
                  note_add
                </span>
              </label>
              <input
                id="note-input"
                placeholder="add a note"
                (blur)="saveNote($event)"
                [(ngModel)]="noteInput"
                (ngModelChange)="onNoteChange($event)"
              />
            </div>

            <div *ngFor="let note of notes" class="user-note">
              <span
                matTooltip="added by  {{ note.user }} on {{ note.date | date }}"
                matTooltipShowDelay="250"
                matTooltipPosition="after"
              >
                * {{ note.note }}
              </span>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Dates</mat-panel-title>
              <mat-panel-description>
                <span class="material-icons">event</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            {{ datesMade.length ? 'You made this recipe...' : 'Have you made this recipe?' }}

            <p>
              <input
                id="dateMade"
                placeholder="+ add a date"
                [matDatepicker]="picker"
                (click)="picker.open()"
                readonly
                [(ngModel)]="dateInput"
                (ngModelChange)="onDateChange($event)"
              />
              <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
              <mat-datepicker #picker></mat-datepicker>
            </p>

            <ng-container *ngIf="datesMade.length">
              <p class="date-item" *ngFor="let d of datesMade">
                {{ d | date }}
                <span class="material-icons remove" matTooltip="remove date" matTooltipShowDelay="500">clear</span>
              </p>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="column column-right">
      <div class="favourite">
        <div
          class="fav-lottie"
          [appLottie]="'heart-like'"
          [autoplay]="false"
          [startFrame]="isFavourite ? 110 : null"
          [play]="isFavourite ? [60, 110] : [140, 150]"
        ></div>
      </div>
      <div class="heart-click-anchor" (click)="favourite()"></div>

      <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="recipe-img" />
    </div>
  </div>
</div>

<div class="actions" *ngIf="showActions">
  <button type="button" (click)="deleteRecipe()" class="btn btn-secondary">Delete</button>
  <button type="button" (click)="editRecipe()" class="btn btn-primary">Edit</button>
</div>
