.dialog {
  max-width: 560px;
  min-width: 210px;
}

img {
  width: 63px;
  align-self: center;
  margin: 15px;
}

.dialog-content {
  display: flex;
  flex-direction: column;
}

.dialog-actions {
  text-align: center;
  // margin: 30px auto 15px;
}

button {
  margin: 15px 10px 0;
  padding: 0 20px;
  // width: 75%;
  height: 40px;
  // background-color: #1b1919;
  // color: #ffffff;
  // border-color: #ffffff;
}

h2 {
  text-align: center;
  margin: auto;
  color: #031a5d;
}

p {
  letter-spacing: 0.5px;
  font-family: 'Rosario';
  margin: 10px auto;
}

// to display immediately as in hover state
.btn-danger {
  background-color: #ff000045;
  border-color: #ff000000;
  &:hover {
    background-color: #ffd7d5;
    border-color: #ffd7d5;
  }
}

.close-x {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
