<div class="settings-cont">
  <form>
    <div class="user-details">
      <h4>
        Name
        <span>{{ user?.name }}</span>
      </h4>
      <h4>
        Email
        <span>{{ user?.email }}</span>
      </h4>
    </div>
    <div class="filters">
      <h4>Filters</h4>
      <div *ngFor="let diet of dietOptions">
        <input type="checkbox" [name]="diet" (change)="onChange($event)" />
        {{ diet }}
      </div>
    </div>
    <!-- <div class="theme">
      <h4>Theme</h4>
      {{ selectedTheme }}
      <img src="/assets/images/palettes/theme-{{ selectedTheme }}.jpeg" class="theme-preview" />
      <mat-form-field>
        <mat-select [(ngModel)]="selectedTheme" name="theme" (selectionChange)="selectTheme(selectedTheme)">
          <mat-option *ngFor="let theme of themeOptions" [value]="theme.name">
            {{ theme.name | titlecase }} |
            <img src="/assets/images/palettes/palette-{{ theme.name }}.png" class="theme-icon" />
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
  </form>
  <!-- <div class="actions">
    <button class="one">One / Primary</button>
    <button class="btn-secondary">Cancel / Secondary</button>
    <button class="three">Three</button>
    <button class="four">Four</button>
    <button class="btn-primary">Save / Five</button>
  </div> -->
</div>
