<div class="dialog dialog-simple" [ngClass]="class">
  <a *ngIf="!hideClose"><span (click)="closeDialog()" class="material-icons close-x">clear</span></a>
  <div class="dialog-content">
    <h2 *ngIf="title">{{ title }}</h2>
    <p *ngFor="let line of lines" [innerHtml]="line"></p>
  </div>
  <div class="dialog-actions" *ngIf="actions.length">
    <button
      id="actionBtn"
      class="btn"
      *ngFor="let action of actions"
      (click)="action.go(mdDialogRef)"
      [ngClass]="{
        'btn-primary': action.primary,
        'btn-secondary': !action.primary && !action.danger,
        'btn-danger': action.danger
      }"
      [innerHtml]="action.text"
    ></button>
  </div>
</div>
