.dialog {
  max-width: 560px;
  padding: 0px 48px;
}

.dialog-actions {
  text-align: center;
  margin: 30px auto 15px;
}

button {
  margin: 10px;
  padding: 0 20px;
  width: 75%;
  height: 40px;
  background-color: #1b1919;
  color: #ffffff;
  border-color: #ffffff;
}

h2 {
  text-align: center;
  margin: 12px auto 28px;
}

p {
  letter-spacing: 0.5px;
  font-family: 'Rosario';
  margin: 10px auto;
}
