.loading {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  text-align: center;
  display: none;
  &.show {
    display: block;
  }
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-container:not(.auth-dialog) {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0%;
  right: 0%;
}

.hole-logo {
  display: block;
  margin: auto;
  width: 15vw;
  max-width: 140px;
}

.form-container {
  padding: 30px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 25%;
    width: 100%;
  }
  .form-group {
    width: 100%;
    text-align: center;
    display: block;
    margin: 15px auto 0;
    input {
      max-width: 340px;
      width: 80%;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #918e8a;
      text-align: center;
      background-color: transparent;
    }
  }
}

// actions
.actions {
  margin: 14px auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
  button {
    transition: all 0.5s ease-in-out;
  }
  .btn-primary {
    width: 230px;
    margin: 20px auto;
  }
  .btn-small {
    font-size: 13px;
    width: 175px;
  }
  .toggle {
    border-color: #efecec;
  }
  .toggle:hover {
    background-color: #efecec;
  }
}
.actions p {
  font-style: italic;
  color: #d4d4d4;
  b {
    color: #011c29;
  }
}

#login-toggle {
  font-size: 12px;
  font-style: italic;
}

.auth-dialog button#auth-submit {
  margin-bottom: 0;
}
