<div class="auth-form" [ngClass]="{ 'auth-dialog': isSignup }">
  <div class="loading" [ngClass]="{ show: loading }">
    <app-loading></app-loading>
  </div>

  <form
    #authForm="ngForm"
    (ngSubmit)="onSubmit(authForm)"
    [ngClass]="{ hidden: loading }"
  >
    <div class="form-inputs">
      <div class="form-group">
        <input
          [ngClass]="{ reverse: !isDialog }"
          type="email"
          id="email"
          ngModel
          name="email"
          required
          email
          [placeholder]="isLogin ? 'Email' : 'What\'s your email?'"
        />
      </div>
      <div class="form-group">
        <input
          [ngClass]="{ reverse: !isDialog }"
          type="password"
          id="password"
          ngModel
          name="password"
          required
          minlength="6"
          [placeholder]="isLogin ? 'Password' : 'Choose a password'"
        />
      </div>

      <div *ngIf="!isLogin" class="form-group">
        <input
          [ngClass]="{ reverse: !isDialog }"
          type="name"
          id="name"
          ngModel
          name="name"
          placeholder="What's your name?"
          [required]="!isLogin"
        />
      </div>
    </div>

    <div class="actions">
      <button type="submit" class="btn-primary auth-submit">
        {{ isLogin ? "Sign in" : "Sign up" }}
      </button>
      <div class="google">
        <p>or</p>
        <app-google-auth (googleSigninEmitter)="googleAuth()"></app-google-auth>
      </div>
    </div>
    <div *ngIf="!isSignup" class="actions secondary-actions">
      <p
        id="mobile-toggle"
        class="toggle"
        (click)="toggleLogin()"
        style="text-decoration: underline"
      >
        Go to {{ !isLogin ? "login" : "signup" }}
      </p>

      <!-- <p style="margin: 5px">or</p>
      <button
        type="button"
        class=""
        class="btn-secondary btn-small"
        (click)="signInGuest()"
      >
        Enter as guest
      </button> -->
    </div>
  </form>
</div>
