<div class="auth-form" [ngClass]="{ 'auth-dialog': isSignup }">
  <div class="loading" [ngClass]="{ show: loading }">
    <app-loading></app-loading>
  </div>

  <form
    #authForm="ngForm"
    (ngSubmit)="onSubmit(authForm)"
    [ngClass]="{ hidden: loading }"
  >
    <div class="form-inputs">
      <div class="form-group">
        <!-- <div class="form-field-visible" id="emailView">
        {{ authForm.value.email }}
      </div> -->
        <input
          [ngClass]="{ reverse: !isDialog }"
          type="email"
          id="email"
          ngModel
          name="email"
          required
          email
          [placeholder]="isLogin ? 'Email' : 'What\'s your email?'"
        />
        <!-- <p class="form-field-visible" id="emailView" (click)="emailInput.focus()">
        {{ authForm.value.email }}
      </p> -->
      </div>
      <div class="form-group">
        <input
          [ngClass]="{ reverse: !isDialog }"
          type="password"
          id="password"
          ngModel
          name="password"
          required
          minlength="6"
          [placeholder]="isLogin ? 'Password' : 'Choose a password'"
        />
      </div>

      <!-- <div [style.opacity]="isLogin ? 0 : 1" class="form-group"> -->
      <div *ngIf="!isLogin" class="form-group">
        <input
          [ngClass]="{ reverse: !isDialog }"
          type="name"
          id="name"
          ngModel
          name="name"
          placeholder="What's your name?"
          [required]="!isLogin"
        />
      </div>
    </div>

    <div class="actions">
      <button type="submit" class="btn-primary auth-submit">
        {{ isLogin ? "Sign in" : "Sign up" }}
      </button>
    </div>
    <hr style="width: 25%; border-color: #918e8a" />
    <div *ngIf="!isSignup" class="actions secondary-actions">
      <p>
        {{ isLogin ? "Don't have an account?" : "Already signed up?" }}
      </p>
      <p
        id="mobile-toggle"
        class="toggle"
        (click)="toggleLogin()"
        style="text-decoration: underline"
      >
        Go to {{ !isLogin ? "login" : "signup" }}
      </p>

      <p style="margin: 5px">or</p>
      <button
        type="button"
        class=""
        class="btn-secondary btn-small"
        (click)="signInGuest()"
      >
        Enter as guest
      </button>
    </div>
  </form>
</div>
