.loading {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  text-align: center;
  display: none;
  &.show {
    display: block;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 25%;
    width: 100%;
  }
  .form-group {
    width: 100%;
    text-align: center;
    display: block;
    margin: 15px auto 0;
    position: relative;
    height: 42px;
    input {
      max-width: 340px;
      width: 80%;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #918e8a;
      text-align: center;
      background-color: transparent;
      letter-spacing: 1.2px;
    }
  }
}

.form-inputs {
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-form:not(.auth-dialog) input {
  color: #ffffff;
}

.auth-form {
  padding: 32px;
}

// actions
.actions {
  margin: 32px auto 24px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  p {
    font-family: Poppins;
    font-size: 14px;
    color: #d4d4d4;
    margin: 5px;
    b {
      color: #011c29;
    }
  }
}

button {
  transition: all 0.5s ease-in-out;
}
.btn-primary {
  width: 230px;
}
.btn-small {
  height: 28px;
  font-size: 12px;
  width: 145px;
}
.toggle {
  // border-color: #efecec;
  cursor: pointer;
  margin: 0px;
}

.secondary-actions {
  margin: 16px auto 0;
}

.auth-dialog button.auth-submit {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .auth-form {
    width: 100vw;
    padding: 0;
  }
  .input {
    font-size: 18px;
  }
  .actions {
    .btn-primary {
      font-size: 16px !important;
      height: 40px;
    }
    .btn-small {
      height: 32px;
      width: 168px;
    }
  }
  .secondary-actions p {
    margin: 10px;
  }
}
