<div class="auth-container" [ngClass]="{ 'auth-dialog': isSignup }">
  <img *ngIf="!isSignup" class="hole-logo" src="assets/images/logos/hole-logo.png" />
  <div class="form-container">
    <div class="loading" [ngClass]="{ show: loading }">
      <app-loading></app-loading>
    </div>

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" [ngClass]="{ hidden: loading }">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="email"
          ngModel
          name="email"
          required
          email
          [placeholder]="isLogin ? 'Email' : 'What\'s your email?'"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="password"
          ngModel
          name="password"
          required
          minlength="6"
          [placeholder]="isLogin ? 'Password' : 'Choose a password'"
        />
      </div>

      <div [style.opacity]="isLogin ? 0 : 1" class="form-group">
        <input
          type="name"
          class="form-control"
          id="name"
          ngModel
          name="name"
          placeholder="What's your name?"
          [required]="!isLogin"
        />
      </div>

      <div class="actions" [ngClass]="{ 'auth-actions': !isSignup }">
        <button type="submit" id="auth-submit">
          {{ isLogin ? 'Sign in' : 'Sign up' }}
        </button>

        <div class="other-opts" *ngIf="!isSignup">
          <p [style.opacity]="isLogin ? 1 : 0">Don't have an account?</p>
          <div>
            <p>
              <span id="mobile-toggle" class="other-actions" (click)="toggleLogin()">
                Go to
                <b>{{ !isLogin ? 'login' : 'Sign up' }}</b>
              </span>
              <ng-container>
                <span class="mf-or">or</span>
                <span class="other-actions" (click)="signInGuest()">
                  <b>Sign in</b>
                  as a guest
                </span>
              </ng-container>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
