.recipe-details {
  border: 1px solid #333333;
  border-top: 1px solid white;
}

h2 {
  font-family: "Rosario";
  letter-spacing: 1.2px;
  display: flex;
}

.material-icons.show-less {
  transform: rotate(-180deg);
}

.expand {
  font-size: 36px;
  margin-top: -3px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

.list-group {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#ingredient-list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#ingredient-list.hide {
  .list-group {
    flex: 0;
    transition: all 0.5s ease-out;
    opacity: 1;
  }
}

#ingredient-list.show {
  .list-group {
    height: auto;
    flex: 1;
    transition: all 0.5s ease-in;
    opacity: 1;
  }
}

@keyframes show {
  from {
    height: 0px;
    width: 0px;
  }
  to {
    height: 100%;
    width: 100%;
  }
}

@keyframes hide {
  from {
    height: auto;
  }
  to {
    height: 0;
  }
}

.rec-header {
  background-color: white;
  border-top: 1px solid black;
  hr {
    margin: 0px 20px;
  }
}

.rec-title {
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    // font-family: 'BodoniBold';
    font-family: "BodoniItal";
    letter-spacing: 2.5px;
    font-size: 38px;
  }
}

.tag {
  margin: 5px;
  border: 1px solid #add8e6;
  background-color: #add8e6;
  padding: 4px 12px;
  display: inline-block;
  border-radius: 20px;
  font-size: 14px;
}

.recipe-main-content mat-expansion-panel {
  box-shadow: none;
}

.method-expansion {
  flex-grow: 1;
}

ul#ingredient-list {
  padding-left: 10px;
  list-style-type: disc;
}
li {
  border: none;
  padding: 0;
  margin: 5px;
  display: list-item;
}

section {
  position: relative;
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
}

.desc {
  text-align: left;
}

.img-container {
  align-self: flex-start;
  margin: 0 0 0 auto;
  flex-grow: 1;
  flex-shrink: 1;
  object-fit: cover;
  max-height: 100vh;
  max-width: 55%;
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
    max-height: 100vh;
  }
}

.time-wtf {
  position: absolute;
  top: 15px;
  border: 1px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: 10px;
  display: flex;
  background-color: #ffffff85;
  /* opacity: 0.4; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* backdrop-filter: grayscale(16); */
  backdrop-filter: opacity(0.4);
  p {
    margin: 0;
  }
}

// like and bookmark actions
.recipe-actions {
  position: absolute;
  height: 50px;
  width: 102px;
  // right: 43px;
  // top: 41px;
  right: 10px;
  top: 15px;
}

.fav-lottie {
  width: 300px;
  overflow: hidden !important;
  position: absolute;
  right: -77px;
  top: -92px;
  &.on {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  .click-anchor {
    width: 42px;
    height: 38px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -55%);
  }
}

.lottie-anim .click-anchor {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.todo-lottie {
  width: 75px;
  overflow: hidden;
  position: absolute;
  right: -15px;
  top: -19px;
  &.on {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  .click-anchor {
    width: 30px;
    height: 39px;
    top: 50%;
    right: 50%;
    transform: translate(14.5px, -21px);
  }
}

.added-cont {
  text-align: right;
  p {
    margin: 3px;
    // font-family: 'BodoniBold';
    font-family: "Rosario";
    letter-spacing: 1.2px;
    font-size: 14px;
  }
}

.anchor {
  height: 100px;
}

.nutrition {
  margin: 0 auto;
}

.expansion-panels {
  width: 50%;
  // display: flex;
  padding: 0 50px 30px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  // align-items: center;
}

.mat-expansion-panel-header-title {
  font-size: 18px;
  // font-family: 'BodoniBold';
  font-family: "Rosario";
  letter-spacing: 1.2px;
}

mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  // margin-top: 10px;
}

.mat-expansion-panel-header.mat-expanded {
  border-radius: 5px 5px 0 0;
}

.note-bubble:hover .note-actions {
  opacity: 1;
}

.actions {
  justify-content: flex-end;
  button {
    width: 162px;
    margin: 13px;
  }
}

.tooltip-red {
  background: #b71c1c;
}

.tags-ing-list {
  order: 0;
  width: 45%;
}

@media (max-width: 1200px) {
  .expansion-panels {
    width: 75%;
  }
}

@media (max-width: 1000px) {
  section {
    justify-content: center;
  }
  .tags-ing-list {
    order: 0;
    max-width: 80%;
    width: unset;
  }
  // img.recipe-img {
  //   order: -1;
  //   margin: 0px auto 30px;
  //   object-fit: cover;
  //   width: 100%;
  //   max-height: 100vh;
  //   max-width: 100%;
  // }
  .img-container {
    order: -1;
    margin: 0px auto 30px;
    object-fit: cover;
    width: 100%;
    max-height: 100vh;
    max-width: 100%;
  }
  .rec-title {
    // must set both to centre for screen scaling
    justify-content: center;
    text-align: center;
  }
  .hide-sm {
    display: none;
  }

  .expansion-panels {
    width: 100%;
  }
  .tags-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .tags-ing-list {
    width: 100%;
  }
  .rec-header hr {
    display: none;
  }
  .rec-title h1 {
    font-size: 30px;
  }
  .recipe-details {
    border: none;
    box-shadow: none;
  }
  .ingredients-expansion {
    max-width: 100%;
  }
  .hide-sm {
    display: none;
  }
  section {
    padding: 0;
  }
  .actions {
    display: none;
  }
  .expansion-panels {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .expansion-panels {
    padding: 0 10px 30px;
  }
}

.ingredients-recall {
  position: fixed;
  bottom: 30px;
  right: 25px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  // border: none;
  border: 1px solid black;
  padding: 5px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-content: center;
  pointer-events: none;
  transition: all 0.5s;
  opacity: 0;
  &.show-scroll {
    width: 50px;
    height: 50px;
    cursor: pointer;
    pointer-events: unset;
    opacity: 1;
    // transition: opacity ease-in-out 3s, width 0s;
  }
}

.ingredients-recall:active {
  background-color: #add8e6;
  transition: all 0.1s;
}

.scroll-to {
  position: fixed;
  bottom: 50px;
  right: 0;
  display: flex;
  border-radius: 50%;
  border: 1px solid black;
  padding: 5px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-content: center;
}

.return-method {
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 30px;
  position: fixed;
  transition: ease-in-out 1s;
  left: 50%;
  right: 50%;
  bottom: 30px;
}

.return-method img {
  -webkit-animation: sdb04 2.5s infinite;
  animation: sdb04 2.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
