<div *ngIf="!loading" class="recipe-details" #recipeRef>
  <div class="rec-header">
    <div class="rec-title">
      <h1>{{ recipe.name | title }}</h1>
      <div *ngIf="recipe.addedBy" class="added-cont hide-sm">
        <p>Added by {{ recipe.addedBy }}</p>
        <p *ngIf="recipe.created">{{ recipe.created | date }}</p>
      </div>
    </div>
    <hr />
  </div>

  <section class="recipe-main-content">
    <div class="tags-ing-list">
      <div class="tags-list">
        <div *ngFor="let tag of recipe.tags" class="tag">{{ tag }}</div>
      </div>
      <div class="time-wtf" *ngIf="recipe.time">
        <h6>Prep time</h6>
        <p>{{ recipe.time || "-" }}</p>
      </div>
      <div #ingredientListRef>
        <mat-expansion-panel expanded="true" class="ingredients-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title
              ><h2 id="ingredients-title">Ingredients</h2></mat-panel-title
            >
          </mat-expansion-panel-header>
          <ul
            class="list-group"
            id="ingredient-list"
            [ngClass]="ingExpanded ? 'show' : 'hide'"
            *ngIf="recipe.ingredients?.length"
          >
            <li *ngFor="let ing of recipe.ingredients" class="list-group-item">
              {{ ing }}
            </li>
          </ul>
        </mat-expansion-panel>
      </div>
    </div>

    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="recipe-img" />
    <div class="recipe-actions">
      <div
        class="fav-lottie lottie-anim"
        [class.on]="isFavourite"
        [appLottie]="'heart-like'"
        [autoplay]="false"
        [startFrame]="isFavourite ? 110 : null"
        [play]="isFavourite ? [60, 110] : [140, 150]"
      >
        <div class="click-anchor" (click)="favourite()"></div>
      </div>

      <div
        class="todo-lottie lottie-anim"
        [class.on]="toDoSelected"
        [appLottie]="'to-do-green'"
        [autoplay]="false"
        [startFrame]="toDoSelected ? 20 : 0"
        [play]="toDoSelected ? [0, 22] : [22, 0]"
        [direction]="toDoSelected ? 'forward' : 'backward'"
      >
        <div class="click-anchor" (click)="toggleToDo()"></div>
      </div>
    </div>
    <div #methodRef>
      <mat-expansion-panel expanded="true" class="method-expansion">
        <mat-expansion-panel-header>
          <mat-panel-title><h2>Method</h2></mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHtml]="recipe.description" class="desc"></div>
      </mat-expansion-panel>
    </div>
  </section>

  <div class="expansion-panels">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Notes
            <span *ngIf="notes.length" [style.margin-left.px]="3"
              >({{ notes.length }})</span
            >
          </mat-panel-title>
          <mat-panel-description>
            <span class="material-icons">comment_bank</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-notes
          [notes]="notes"
          [currentUserId]="readOnly ? null : user.id"
          (deleteEmitter)="onDeleteNote($event)"
          (saveEmitter)="onNoteSave($event)"
        ></app-notes>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Dates</mat-panel-title>
          <mat-panel-description>
            <span class="material-icons">event</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-date
          [dates]="datesMade"
          (addDateEmitter)="onDateChange($event)"
          (deleteDateEmitter)="deleteDate($event)"
        ></app-date>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>Nutrition</mat-panel-title>
          <mat-panel-description>
            <span class="material-icons">spa</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="nutrition">
          <app-nutrition-table
            [nutritionValues]="recipe.nutrition"
          ></app-nutrition-table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div
    class="ingredients-recall"
    [ngClass]="{ 'show-scroll': !ingredientsInViewport }"
    matTooltip="Scroll up to ingredients"
    matTooltipShowDelay="300"
  >
    <img
      (click)="showIngredients()"
      src="assets/images/icons/ingredients.png"
    />
    <!-- <img (click)="showIngredients()" src="assets/images/icons/veg.png" /> -->
  </div>
  <div class="return-method" *ngIf="!!returnScrollPoint">
    <img
      (click)="returnToMethod()"
      src="assets/images/icons/down.png"
      [style.opacity]="opacity + '%'"
    />
  </div>
  <!-- <div class="scroll-to">
    {{ scrollDirection }}<br />{{ returnScrollPoint }}
  </div> -->
</div>

<div class="actions" *ngIf="showEdit && !readOnly">
  <button
    *ngIf="showDelete"
    type="button"
    (click)="deleteRecipe()"
    class="btn btn-danger"
  >
    Delete
  </button>
  <button type="button" (click)="editRecipe()" class="btn btn-primary">
    Edit
  </button>
</div>
