.loading {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  text-align: center;
  display: none;
  &.show {
    display: block;
  }
}

.auth-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hole-logo {
  display: block;
  margin: auto;
  width: 15vw;
  max-width: 140px;
}

.form-container {
  padding: 30px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 25%;
    width: 100%;
  }
  .form-group {
    width: 100%;
    text-align: center;
    display: block;
    margin: 15px auto 0;
    input {
      max-width: 340px;
      width: 80%;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #918e8a;
      text-align: center;
      background-color: transparent;
    }
  }
}

// actions
.actions {
  margin: 14px auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
  button#auth-submit {
    border: 1px solid #333333;
    color: #333333;
    width: 230px;
    padding: 4px;
    height: auto;
    font-size: 18px;
    margin: 20px auto;
    background: none;
    transition: all 0.5s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  &.auth-actions button#auth-submit:hover {
    background-color: #c29f38;
  }
}

.actions p {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-style: italic;
  color: lightgray;
}

#login-toggle {
  font-size: 12px;
  font-style: italic;
}

div.other-opts {
  margin-top: 20px;
  p {
    margin-top: 10px;
  }
}
span.other-actions {
  cursor: pointer;
  transition: all 0.5s;
  color: #382e2e;
  font-style: normal;
  &:hover {
    color: #c29f38;
  }
}
.mf-or {
  margin: 0px 7px 0px 4px;
  font-size: 14px;
}

// isSignup
.auth-dialog {
  height: auto;
  .form-container {
    overflow: hidden;
    input {
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
    }
    .actions button#auth-submit {
      margin-bottom: 0;
      margin-top: 40px;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
}
