p {
  font-size: 14px;
  margin: 0;
}
.nutrition-info {
  display: flex;
  flex-wrap: wrap;
}
.value {
  align-content: center;
  text-align: center;
  // background-color: #d1dfe0;
  background-color: #c6e4ed;
  margin: 3px 6px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  width: 60px;
}
.val-amount {
  font-weight: bold;
  text-align: center;
}

.value p {
  font-family: Poppins;
}

.editable {
  &.nutrition-info {
    width: 319px;
  }
  .value {
    width: 100px;
  }
}
@media (max-width: 655px) {
  .nutrition-info {
    width: 306px;
    margin: auto;
    .value {
      width: 80px;
    }
  }
}
