@font-face {
  font-family: 'BodoniItal';
  src: url('/assets/fonts/BodoniflfBolditalic-K7dD.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'BodoniBold';
  src: url('/assets/fonts/BodoniflfBold-MVZx.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Candice';
  src: url('/assets/fonts/Candice-qw5r.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'RalewayItalic';
  src: url('/assets/fonts/Raleway-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
}
//
//

@font-face {
  font-family: 'BenchNine';
  src: url('/assets/fonts/BenchNine/BenchNine-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Gotu';
  src: url('/assets/fonts/Gotu/Gotu-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'IBM_Plex_Mono';
  src: url('/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Marvel';
  src: url('/assets/fonts/Marvel/Marvel-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Open_Sans_Condensed';
  src: url('/assets/fonts/OpenSansCondensed-Light.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Rosario';
  src: url('/assets/fonts/Rosario/Rosario-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'RedHat';
  src: url('/assets/fonts/Red_Hat_Display/static/RedHatDisplay-Regular.ttf')
    format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'RedHatBold';
  src: url('/assets/fonts/Red_Hat_Display/static/RedHatDisplay-Bold.ttf')
    format('truetype');
  font-weight: 500;
}
