html,
body {
  height: 100%;
}

body {
  cursor: default;
  margin: 0;
  margin: auto;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

.actions {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rosario";
  letter-spacing: 1.2px;
}

body,
li,
p,
input {
  font-family: Poppins;
}

.ck-editor__editable_inline {
  min-height: 400px;
}

input {
  border-radius: 20px;
  border: 1px solid #ababab;
  padding: 10px 15px;
  &::placeholder {
    color: rgb(192, 192, 192);
    font-style: italic;
  }
}

button {
  height: 32px;
  font-size: 15px;
  // border-radius: 100px;
  // border: 1px solid;
  border-radius: 5px;
  border: 2px solid;
  border-color: #333333;
  color: #333333;
  background-color: #ffffff;
  font-family: "Rosario";
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.btn-primary {
  background-color: #add8e6;
  border-color: #add8e6;
  &:not(:disabled):hover {
    background-color: #c6e4ed;
    border-color: #c6e4ed;
  }
}

.btn-danger {
  // border-color: #ff0000;
  &:hover {
    background-color: #ff000045;
    border-color: #ff000000;
  }
}

.btn-secondary {
  color: #333333;
  border-color: #d4d4d4;
  background-color: #d4d4d4;
}

.btn-secondary:hover {
  border: #efecec;
  background-color: #efecec;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
img:focus,
div:focus {
  outline: none !important;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

.tooltip-red {
  background: #b71c1c;
}

.notes-tooltip-short {
  max-width: 90px !important;
}

.auth-dialog .mat-dialog-container {
  padding: 0 !important;
}

.mat-dialog-container {
  // background-color: #1b1919;
  // color: #ffffff;
  position: relative;
}

.click-bounce:active {
  transform: scale(90%);
  transition: all 0.1s;
}

// recipe detail - method
.desc p {
  font-size: 16px;
  line-height: 1.5;
  font-family: Poppins;
}

@media (max-width: 800px) {
  .desc p {
    font-size: 20px !important;
  }
  p,
  li,
  div,
  body {
    font-size: 16px !important;
  }
  button {
    font-size: 14px !important;
  }
}

.auth-form input:-webkit-autofill,
.auth-form input:-webkit-autofill:hover,
.auth-form input:-webkit-autofill:focus,
.auth-form input:-webkit-autofill:active {
  box-shadow: 0 0 0 0px white inset !important;
  transition: background-color 5000s;
  background-color: #3330 !important;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  &.reverse {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 0px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: #fff;
  }
}
