.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeinup 1s 1s both; // keep applying transforms before and after animation end
}

@keyframes fadeinup {
  0% {
    opacity: 0;
    transform: translate(0, 24px); //start below
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); // end flush
  }
}

svg {
  border: 1px solid green;
}
