@font-face {
  font-family: 'BodoniItal';
  src: url('/assets/fonts/BodoniflfBolditalic-K7dD.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'BodoniBold';
  src: url('/assets/fonts/BodoniflfBold-MVZx.ttf') format('truetype');
  font-weight: 500;
}
