// $col1: #424b54;
// $col2: #93a8ac;
// $col3: #ffffff;
// $col4: #e2b4bd;
// $col5: #9b6a6c;

$white: #ffffff;
$white-alt: #efeeef;

.theme-vanilla {
  --color-primary: #faf7eb;
  --color-primary-var: #f6f1db;
  --color-secondary: #85716a;
  --color-secondary-var: #937f78;
  --color-3: #fefcfa;
  --color-4: #dbdcdf;
  --color-5: #eae8eb;
}

// .theme-vanilla {
//   --color-primary: #424b54;
//   --color-secondary: #93a8ac;
//   --color-3: #ffffff;
//   --color-4: #e2b4bd;
//   --color-5: #9b6a6c;
// }

.theme-artichoke {
  --color-primary: #cfcdd1;
  --color-secondary: #d2aabb;
  --color-3: #7e7581;
  --color-4: #768f72;
  --color-5: #d2e3a8;
}

.theme-asparagus {
  --color-primary: #6f8f64;
  --color-secondary: #abaeb3;
  --color-3: #e8e1c9;
  --color-4: #e2b4bd;
  --color-5: #b3bc68;
}

.theme-blueberry {
  --color-primary: #dedacf;
  --color-secondary: #a1dae9;
  --color-3: #636b82;
  --color-4: #30193e;
  --color-5: #8b7a6c;
}

//   // artichoke
// $art1: #cfcdd1;
// $art2: #d2aabb;
// $art3: #7e7581;
// $art4: #768f72;
// $art5: #d2e3a8;

// // asparagus
// $asp1: #6f8f64;
// $asp2: #abaeb3;
// $asp3: #e8e1c9;
// $asp4: #e2b4bd;
// $asp5: #b3bc68;

// // blueberry
// $blu1: #dedacf;
// $blu2: #a1dae9;
// $blu3: #636b82;
// $blu4: #30193e;
// $blu5: #8b7a6c;

.theme-citrus {
  --color-primary: #e38a24;
  --color-secondary: #e95f6e;
  --color-3: #77883a;
  --color-4: #f9d251;
  --color-5: #cfce8d;
}

.theme-smore {
  --color-primary: #f8e2c7;
  --color-secondary: #d9ccc4;
  --color-3: #e3e2dc;
  --color-4: #652c27;
  --color-5: #b9998b;
}

// citrus
// $citrus1: #e38a24;
// $citrus2: #e95f6e;
// $citrus3: #77883a;
// $citrus4: #f9d251;
// $citrus5: #cfce8d;

// // smore
// $smore1: #f8e2c7;
// $smore2: #d9ccc4;
// $smore3: #e3e2dc;
// $smore4: #652c27;
// $smore5: #b9998b;

.theme-spice {
  --color-primary: #c47f6f;
  --color-secondary: #ca5456;
  --color-3: #793836;
  --color-4: #8e5147;
  --color-5: #d89672;
}

// spice
// $spice1: #c47f6f;
// $spice2: #ca5456;
// $spice3: #793836;
// $spice4: #8e5147;
// $spice5: #d89672;

.theme-marshmallow {
  --color-primary: #c7c0c1;
  --color-secondary: #faf7e5;
  --color-3: #f2ded9;
  --color-4: #c7b9be;
  --color-5: #e3e2db;
}

.theme-watermelon {
  --color-primary: #e2d9cb;
  --color-secondary: #ebe4d8;
  --color-3: #bbde7f;
  --color-4: #fd8b77;
  --color-5: #805d5e;
}

// marshmallow
// $mall1: #c7c0c1;
// $mall2: #faf7e5;
// $mall3: #f2ded9;
// $mall4: #c7b9be;
// $mall5: #e3e2db;

// // watermelon
// $mel1: #e2d9cb;
// $mel2: #ebe4d8;
// $mel3: #bbde7f;
// $mel4: #fd8b77;
// $mel5: #805d5e;

//   .theme- {
//     --color-primary:
//     --color-secondary:
//     --color-3:
//     --color-4:
//     --color-5:
//   }

// $art1: #;
// $art2: #;
// $art3: #;
// $art4: #;
// $art5: #;
