<nav class="app-nav">
  <div class="background"></div>
  <div class="navbar-header">
    <img class="logo" src="/assets/images/judith-2.png" routerLink="/" />
  </div>

  <div class="nav-items" *ngIf="isAuth">
    <div class="nav-list">
      <div routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <h4><a routerLink="/recipes">Recipes</a></h4>
      </div>
      <div routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <h4><a routerLink="/recipes/new">New Recipe</a></h4>
      </div>
    </div>

    <div class="nav-list">
      <div>
        <h4 (click)="logout()"><a>Logout</a></h4>
      </div>
    </div>
  </div>
</nav>
