<nav class="app-nav" [ngClass]="{ collapse: collapse }">
  <!-- <img class="logo" src="/assets/images/jlogo.png" routerLink="/" /> -->
  <div class="app-header">
    <h1><a routerLink="/">Judith's Kitchen</a></h1>
    <div class="account-actions" *ngIf="isAuth" [ngClass]="{ expanded: headerExpanded, mobile: isMobile }">
      <!-- <h4>{{ user.name }}</h4> -->
      <!-- <span class="material-icons">account_circle</span> -->
      <span class="material-icons" (click)="toggleMenu()">menu</span>
      <div class="account-nav">
        <ng-container *ngIf="isMobile">
          <span class="material-icons" (click)="toggleMenu()">menu</span>
          <h4 routerLinkActive="active"><a routerLink="/recipes">Recipes</a></h4>
          <h4 routerLinkActive="active"><a routerLink="/recipes/favourites">Favourites</a></h4>
        </ng-container>
        <!-- <h4 routerLinkActive="active"><a routerLink="/settings">Settings</a></h4> -->
        <h4 (click)="logout()"><a>Logout</a></h4>
      </div>
    </div>
  </div>

  <div class="nav-list" *ngIf="isAuth && !isMobile">
    <!-- <ng-container *ngIf="!isAuth">
      <div routerLinkActive="active" class="menu-tab" [routerLinkActiveOptions]="{ exact: true }">
        <h4><a routerLink="/recipes">Recipes</a></h4>
      </div>
      <div routerLinkActive="active" class="menu-tab" [routerLinkActiveOptions]="{ exact: true }">
        <h4><a routerLink="/recipes/new">Login</a></h4>
      </div>
    </ng-container> -->

    <ng-container *ngIf="isAuth">
      <div
        *ngFor="let item of navItems"
        class="menu-tab {{ item.class }}"
        routerLinkActive="active"
        [routerLink]="item.link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <h4>{{ item.text }}</h4>
        <div class="grow"></div>
      </div>
    </ng-container>
  </div>
</nav>
