<div class="dates-container">
  <p *ngIf="!disabled">
    {{ dates.length ? "Add another date" : "Have you made this recipe?" }}
  </p>
  <p
    *ngIf="disabled"
    (click)="actionEmitter.emit('signup')"
    [style.cursor]="'pointer'"
  >
    Sign up to add dates
  </p>
  <div class="date-actions">
    <button
      [disabled]="disabled"
      class="btn-primary today"
      (click)="actionEmitter.emit('today')"
    >
      <span>Today</span>
      <img src="assets/images/icons/today.png" />
    </button>
    <button
      [disabled]="disabled"
      class="btn-primary date-select"
      (click)="picker.open()"
    >
      <span>Select</span>
      <img src="assets/images/icons/tomorrow.png" />
      <input
        class="hidden"
        id="dateMade"
        [matDatepicker]="picker"
        [(ngModel)]="dateInput"
        (ngModelChange)="actionEmitter.emit($event)"
      />
      <mat-datepicker #picker></mat-datepicker>
    </button>
  </div>
  <div *ngIf="dates.length" class="dates-list">
    <p>You made this recipe on...</p>
    <div>
      <p class="date-item" *ngFor="let d of dates">
        <span>{{ d.date | date }}</span>
        <span
          (click)="actionEmitter.emit(d.id)"
          class="material-icons remove"
          matTooltip="remove this date"
          matTooltipShowDelay="500"
        >
          clear
        </span>
      </p>
    </div>
  </div>
</div>
