.recipe-list-container {
  position: relative;
  margin-top: 20px;
}

// app-recipe-item:not(.show) {
//   display: none;
// }

// .show {
//   display: block;
// }

.search {
  margin: auto;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  height: 37px;
  align-items: center;
  transition: 1s width ease-in-out;
  border-radius: 20px;
  border: 1px solid #ababab;
  right: 55px;
  top: 0;
  .material-icons {
    width: 29px;
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  &.sticky {
    z-index: 10;
    width: 37px;
    position: fixed;
    right: 106px;
    top: 20px;
    animation-direction: reverse;
    animation-duration: 0.5s;
  }
  &.expanded {
    width: 175px;
    .material-icons {
      width: 0px;
      opacity: 0;
      transition: opacity 0s;
    }
  }
  input {
    border: none;
    padding: 0 15px;
    width: 100%;
  }
}

.scroll-top {
  transition: 0.3s all ease-in-out;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: 1px solid;
  border-radius: 100%;
  display: flex;
  color: #ababab;
  cursor: pointer;
  // z-index: 10;
  background-color: #ffffff;
  span {
    font-size: 40px;
    color: #ababab;
  }
}

.empty {
  margin-top: 50px;
  text-align: center;
  img {
    width: 60px;
  }
  button {
    padding: 0 40px;
    transition: 0.5s;
  }
  .spin-btn {
    margin: 20px;
  }
}

.recipe-list {
  max-width: 1500px;
  margin: auto;
  padding: 55px 50px;
  line-height: 0;
  display: flex;
}

@media (max-width: 1000px) {
  .search {
    justify-content: center;
    input {
      text-align: center;
    }
  }
}
@media (max-width: 800px) {
  .search {
    width: 100%;
    padding: 0;
    position: unset;
    z-index: unset;
    &.expanded {
      width: 100%;
      max-width: 360px;
    }
    &.sticky {
      position: unset;
    }
    input {
      width: 100%;
    }
  }

  .recipe-list-container {
    flex-direction: column;
    margin-top: 30px;
  }

  .recipe-list {
    padding: 30px 20px;
  }
}
@media (max-width: 600px) {
  .recipe-list {
    .recipe-item {
      margin: 10px auto;
    }
  }
}
