<div class="recipe-list-container">
  <div class="search" [ngClass]="{ expanded: searchOn, sticky: maxScroll }">
    <input
      *ngIf="searchOn"
      [ngModelOptions]="{ standalone: true }"
      type="text"
      placeholder="Search"
      [(ngModel)]="searchTerm"
      (blur)="searchBlur()"
      (keyup)="runSearch()"
    />
    <span class="material-icons" (click)="searchOn = true">search</span>
  </div>

  <!-- [style.grid-template-columns]="gridWidth" -->
  <div class="recipe-list" *ngIf="columns.length && !loading">
    <div
      *ngFor="let col of columns"
      class="custom-col {{ col.column }}"
      [style.width.%]="100 / columnCount"
    >
      <ng-container *ngFor="let recipeIndex of col.indexes; index as subIndex">
        <app-recipe-item
          *ngIf="subIndex < scrollShow && !!recipes[recipeIndex]"
          class="recipe-item index-{{ recipeIndex }}"
          [recipe]="recipes[recipeIndex]"
          [showFavouriteIcon]="filter !== 'favourites'"
          [isFavourite]="
            filter !== 'favourites'
              ? (recipes[recipeIndex].key | favourite: favouritesArr)
              : null
          "
          (favouriteEmitter)="favourite(recipes[recipeIndex])"
          (imgLoadEmitter)="onImageLoad($event, recipeIndex)"
        ></app-recipe-item>
      </ng-container>
    </div>
    <!-- [ngClass]="subIndex > scrollShow ? 'hide' : 'show'" -->

    <!-- <ng-container *ngFor="let recipe of recipes | recipeFilter: searchTerm | slice: 0:offset; index as index">
      
      <app-recipe-item
        class="recipe-item index-{{ index }} flex-child"
        [recipe]="recipe"
      
        [showFavouriteIcon]="filter !== 'favourites'"
        [isFavourite]="filter !== 'favourites' ? (recipe.key | favourite: favouritesArr) : null"
        (favouriteEmitter)="favourite(recipe)"
        (imgLoadEmitter)="onImageLoad($event, index)"
      ></app-recipe-item>
    </ng-container> -->
  </div>

  <div
    class="scroll-top click-bounce"
    [ngStyle]="{ opacity: maxScroll ? 1 : 0 }"
  >
    <span *ngIf="maxScroll" (click)="scroll()" class="material-icons"
      >keyboard_arrow_up</span
    >
  </div>

  <div class="empty" *ngIf="!recipes.length && !loading">
    <img src="assets/images/icons/bubbling-pot.png" />
    <ng-container *ngIf="!readOnly">
      <h4>There's nothing here yet!</h4>
      <h4>Why not try something new, you might find a favourite?</h4>
      <button
        *ngIf="filter !== null && allRecipes.length"
        (click)="randomRecipe()"
        class="spin-btn"
      >
        Get inspired
      </button>
    </ng-container>
    <ng-container *ngIf="readOnly">
      <h4>There's more to see!</h4>
      <button (click)="signup()" class="btn-primary">create an account</button>
      <p>for full access</p>
    </ng-container>
  </div>
</div>
