<div *ngFor="let year of sections | keyvalue : desc" class="year">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title
        ><h3>{{ year.key }}</h3></mat-panel-title
      >
    </mat-expansion-panel-header>
    <div class="months-container">
      <div
        class="month"
        *ngFor="let month of year.value | keyvalue : originalOrder | reverse"
      >
        <h4>{{ month.key | month }}</h4>
        <div class="dates-container">
          <div class="date" *ngFor="let date of month.value.dates">
            <!-- <div class="date-circle">{{ date.date | date : "d" }}</div> -->
            <a href="/recipes/{{ date.recId }}"
              ><p class="rec-title">{{ date.name }}</p></a
            >
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</div>

<!-- <div class="array-test">
    <div *ngFor="let year of secArray" class="year">
      <h3>{{ year.year }}</h3>
      <h3>{{ year.key }}</h3>
      <div *ngFor="let month of year.months" class="month">
        <h4>{{ month.month | month }}</h4>
        <p *ngFor="let date of month.dates">
          {{ date.date | date: "d" }} <span>{{ date.name }}</span>
        </p>
      </div>
    </div>
  </div> -->
<!-- </div> -->
