.months-container,
.dates-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  // grid-gap: 5px;
}

.months-container {
  .month {
    margin: 0 0 24px 16px;
  }
}

h3 {
  font-size: 36px;
  margin: 10px 0px;
  font-family: "BodoniItal";
  letter-spacing: 5.5px;
  color: #052732;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px;
  // font-family: "BodoniItal";
  letter-spacing: 2.5px;
  // color: #08313e;
}

.dates-container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 8px;
  margin-left: 8px;
  div {
    display: flex;
    align-items: center;
  }
  p {
    max-width: 200px;
    margin: 0;
  }
}

.date-circle {
  background-color: lightblue;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  justify-content: center;
  font-weight: bold;
  margin-right: 8px;
  flex-grow: 0;
  flex-shrink: 0;
}

.date {
  // padding: 10px 8px;
  line-height: 1;
}

mat-expansion-panel.mat-expanded {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .year h3 {
    font-size: 24px;
    letter-spacing: normal;
    // font-size: 48px;
    // letter-spacing: 12px;
    // // text-align: center;
    // margin-left: 16px;
  }
}
