<div class="settings-cont">
  <form>
    <div class="user-details">
      <h4>
        Name
        <span>{{ user?.name }}</span>
      </h4>
      <h4>
        Email
        <span>{{ user?.email }}</span>
      </h4>
    </div>
    <div class="filters">
      <h4>Filters</h4>
      <div *ngFor="let diet of dietOptions">
        <input type="checkbox" [name]="diet" (change)="onChange($event)" />
        {{ diet }}
      </div>
    </div>
  </form>
  <!-- <div class="actions">
    <button class="one">One / Primary</button>
    <button class="btn-secondary">Cancel / Secondary</button>
    <button class="three">Three</button>
    <button class="four">Four</button>
    <button class="btn-primary">Save / Five</button>
  </div> -->
</div>

<div class="stats">
  <h2>
    You've made {{ recDatesList.length }} different recipes, and
    {{ totalDates }} meals altogether!
  </h2>
  <div>
    <h3>Of these recipes you've made:</h3>
    <div *ngFor="let rec of recDatesList">
      <h3>{{ rec.title }}</h3>
      <p *ngFor="let date of rec.dates">{{ date | date }}</p>
    </div>
  </div>
</div>
