.theme-icon {
  height: 35px;
}

.theme-preview {
  height: 150px;
}

form {
  display: flex;
}

.user-details {
  margin-right: 50px;
}

.one {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.three {
  background-color: var(--color-3);
  border-color: var(--color-3);
}

.four {
  background-color: var(--color-4);
  border-color: var(--color-4);
}
.chart-container {
  display: flex;
  justify-content: space-between;
}

.date-chart {
  width: 40%;
  height: 350px;
}

.recipe-preview {
  margin-right: 130px;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  img {
    max-height: 350px;
    width: fit-content;
  }
  button {
    margin-top: 16px;
    display: block;
    width: 185px;
  }
}
