<div class="app-settings">
  <section>
    <form>
      <div class="user-details">
        <h4>
          Name
          <span>{{ user?.name }}</span>
        </h4>
        <h4>
          Email
          <span>{{ user?.email }}</span>
        </h4>
      </div>
    </form>
  </section>

  <section>
    <h2>
      You've made {{ recDatesList.length }} different recipes, and
      {{ totalDates }} meals altogether!
    </h2>

    <div class="chart-container">
      <div class="outer-char-cont">
        <div class="date-chart">
          <ngx-charts-pie-chart
            [legendTitle]="'Your top 10'"
            [scheme]="'cool'"
            [results]="topRecipes"
            [gradient]="gradient"
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            [tooltipText]="tooltipText"
            [arcWidth]="0.4"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>

      <div *ngIf="selectedRecipe" class="selected-cont">
        <div class="recipe-preview card">
          <a [routerLink]="['/recipes', selectedRecipe.id]">
            <img [src]="selectedRecipe.image" />
            <div class="details">
              <h4>{{ selectedRecipe.name }}</h4>
              <p class="last-made" style="font-size: 20px; font-weight: bold">
                {{ selectedRecipe.value }}x
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="history" *ngIf="dateRecipeList.length">
    <h2>Your recipe history</h2>
    <app-date-list [dates]="dateRecipeList"></app-date-list>
  </section>

  <section class="scroll-horizon" *ngIf="recDatesList.length">
    <h2>You haven't made these in a while</h2>

    <div class="list" #scrollRef (scroll)="onScroll($event, scrollRef)">
      <div class="recipe-preview card" *ngFor="let recipe of infrequentList">
        <a [routerLink]="['/recipes', recipe.id]">
          <img [src]="recipe.image" />
          <div class="details">
            <h4>{{ recipe.name }}</h4>
            <p
              *ngFor="let date of recipe.dates | minMax"
              class="last-made mobile-sm"
            >
              {{ date | date: "d MMM y" }}
            </p>
          </div>
        </a>
      </div>
    </div>
    <!--  (mouseenter)="scroll('left', $event, scrollRef)" (mouseleave)="stopScroll()" -->
    <div
      class="arrow-left arrow"
      *ngIf="showLeft"
      (click)="scrollNext('-', scrollRef)"
    ></div>
    <div
      class="arrow-right arrow"
      *ngIf="showRight"
      (click)="scrollNext('', scrollRef)"
    ></div>
  </section>

  <!-- <section class="history" *ngIf="dateRecipeList.length">
    <h2>Your recipe history</h2>
    <app-date-list [dates]="dateRecipeList"></app-date-list>
  </section> -->
</div>
